.textCustom {
  color: #37c8abff ;
}

// Hero Section
// Hero Section
.landing {
  position: relative;
  width: 100%;
  height: 40vh; // Change
  overflow: hidden;
}


.serviceList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.serviceItem {
  display: block;
  padding: 15px;
  color: #000; // Default text color
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.serviceItem:hover,
.serviceItem:focus {
  background: #37c8ab !important;
  color: #fff;
}

