.textCustom {
  color: #37c8abff ;
}

// Hero Section
.hero {
  min-height: 450px;
  background-image: url("/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 5rem 0;
  text-align: center;
}
.serviceList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.serviceItem {
  display: block;
  padding: 15px;
  color: #000; // Default text color
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.serviceItem:hover,
.serviceItem:focus {
  background: #37c8ab !important;
  color: #fff;
}

