@mixin landing-design($height: 40vh) {
    position: relative;
    width: 100%;
    height: $height;
    overflow: hidden;
  }

  @mixin reviewer-style($width) {
    width: $width;
    
    img {
      width: 100%;
    }
  }