@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');



:root {
  --bs-border-radius: 0 !important; /* Disable Bootstrap border-radius */
}
.section-pt{
    padding-top: 4rem;
}


.custom-calendar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-calendar {
  width: 350px !important; /* Increase width */
  height: 350px !important; /* Increase height */
  max-width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
