.home {}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; // Push behind everything
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensures full coverage
  }
}

.heroOverlay {
  position: absolute; // Proper absolute positioning over video
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; // Above video, below content
  pointer-events: none; // Prevent interaction blocking
}

.content {
  position: relative;
  z-index: 2; // Ensures it's above both video & overlay
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContent {
  height: 100%;
}

.navbarContent {
  height: 100px;
}

.headerLogo {
  width: 3rem;
  height: 3rem;
}


.service{

}

.serviceImgWrapper{

}

.serviceImg1{
  width: 50%;
  height: 400px;
}
.serviceImg1{
  width: 50%;
  height: 400px;
}

.srviceBox{
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 20px;
  height: 8.5rem;
}
