.home {}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; // Push behind everything
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensures full coverage
  }
}

.heroOverlay {
  position: absolute; // Proper absolute positioning over video
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; // Above video, below content
  pointer-events: none; // Prevent interaction blocking
}

.content {
  position: relative;
  z-index: 2; // Ensures it's above both video & overlay
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContent {
  height: 100%;
}

.navbarContent {
  height: 100px;
}

.headerLogo {
  width: 3rem;
  height: 3rem;
}


.about{

}

.aboutImgWrapper{

}

.aboutImg1, .aboutImg2{
  width: 50%;
  height: 400px;
  object-position: center;
  object-fit: cover;
}

.aboutBox{
  position: absolute;
  bottom: -60px;
  right: -60px;
  width: 100px;
  height: 8.5rem;
  background: white;
}






.process{
  background-image: url(/imgs/car-service-1.jpg);
  background-size: cover;
  background-attachment: fixed; /* Enables parallax effect */
  background-position: center;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}

.process::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Optional overlay */
  z-index: -1;
}

.testimonial{
  
}


.iconBox{
  width: 80px;
  height: 80px;
}
.arrowBox{
  width: 60px;
  height: 60px;
}
