.footer{}
.footerTop{
    height: 150px;
    width: 100%;
    background-image: url(/svgs/footer-top.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footerBottom{}